
* {
    box-sizing: border-box;
  }
  
  
  html {
    background-color: #f2e9e4;
  }
  
  
  #main-doc {
    position: absolute;
    margin-left: 22rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  
  .main-section {
     margin: 1rem 0;
     padding: 1rem 0;
  }
  
  
  #navbar {
    position: fixed;
    top: 0;
    width: 300px;
    height: 100%;
    margin-left: 2rem;
  }
  
  
  #navbar > header {
    font: bold 2.4rem 'Oswald',sans serif;
    margin: 1rem 0.5rem;
  }
  
  
  .nav-link {
    display: block;
    padding: 1.1rem 0.5rem;
    font: bold 1.4rem 'Roboto',sans serif;
    text-decoration: none;
    color: white;
    background-color: #9a8c98;
    cursor: pointer;
  }
  
  .nav-link:hover {
    background-color: white;
    color: #9a8c98;
  }
  
  
  .nav-link-list {
    padding: 0;
  }
  
  
  .nav-link-list> li {
    list-style-type: none;
    background-color: f2e9e4;
    border-top: solid 1px #22223b;
  }
  
  
  .anatomy-list> li,
  .box-model-list> li {
    color: #4a4e69;
    padding: 0.4rem;
    font: 1rem 'Roboto',sans serif;
    list-style-type: none;
    max-width: 80ch;
  }
  
  
  img {
    width: 100%;
    max-width: 600px;
    height: 100%;
    padding: 17px;
  } 
  
  
  pre {
    padding-left: 1rem;
  }
  
  
  code {
    display: block;
    max-width: 600px;
    background: #9a8c98;
    text-align: left;
    border-radius: 10px;
    padding: 0.5rem 3rem;
    color: #ffffff;
    font: 1rem 'Roboto',sans serif;
  }
  
  
  header {
    font: bold 2.3rem 'Oswald',sans serif;
  }
  
  
  .mini-header {
    font: bold 1.6rem 'Oswald',sans serif;
  }
  
  
  p {
    font: 1.2rem 'Roboto',sans serif;
    color: #4a4e69;
    max-width: 80ch;
  }
  
  mark {
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    background-color: #c9ada7;
  }
  
  .main-mark {
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.9em;
    background-color: #c9ada7;
  }
  
  .mini-mark {
      display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    background-color: white;
  }
  
  
  .reference-info {
    display: block;
    max-width: 600px;
    background-color: #9a8c98;
    border-radius: 10px;
    padding: 20px 60px;
    color: #ffffff;
    font: 1.4rem 'Roboto',sans serif;
    margin-left: 17px;
  }
  
  
  .reference-info>a {
    color: #ffffff;
  }
  
  
  @media only screen and (max-width: 768px) {
  
    #main-doc {
    position: relative;
    margin: 360px 15px 0;
  }
  
  
    #navbar {
    position: absolute;
    width: 100%;
    padding-right: 16px;
  }
  
  
  .nav-link {
    padding: 10px;
    font: bold 13px 'Roboto',sans serif;
  }
  
  
  img {
    max-width: 430px;
    max-height: 250px;
 }
 }